<!-- carousel -->
<div id="carouselExampleCaptions" class="carousel slide carousel-fade" data-mdb-ride="carousel">
    <div class="carousel-indicators">
        <button
                type="button"
                data-mdb-target="#carouselExampleCaptions"
                data-mdb-slide-to="0"
                class="active"
                aria-current="true"
                aria-label="Slide 1"
        ></button>
        <button
                type="button"
                data-mdb-target="#carouselExampleCaptions"
                data-mdb-slide-to="1"
                aria-label="Slide 2"
        ></button>
        <button
                type="button"
                data-mdb-target="#carouselExampleCaptions"
                data-mdb-slide-to="2"
                aria-label="Slide 3"
        ></button>
    </div>
    <div class="carousel-inner" style="min-height: 300px;">
        <div class="carousel-item active" style="min-height: 300px;">
            <img src="https://els.id/media/weltpixel/owlcarouselslider/images/g/a/gaming_series.jpg" class="d-block w-100" alt="Wild Landscape"/>
            <div class="mask" style="background-color: rgba(0, 0, 0, 0.4)"></div>
            <!-- <div class="carousel-caption d-none d-sm-block mb-5">
                <h1 class="mb-4">
                    <strong>Enjoy the convenience of shopping at our store</strong>
                </h1>
                <p>
                    <strong>Temukan Gaya Anda dengan Kemudahan Belanja Online di Toko Kami - Fashion Berkualitas Tinggi Hanya di Sini!</strong>
                </p>
            </div> -->
        </div>
        <div class="carousel-item" style="min-height: 300px;">
            <img src="https://els.id/media/weltpixel/owlcarouselslider/images/l/e/lenovo_yoga_book_9.jpg" class="d-block w-100" alt="Camera"/>
            <div class="mask" style="background-color: rgba(0, 0, 0, 0.4)"></div>
            <!-- <div class="carousel-caption d-none d-md-block mb-5">
                <h1 class="mb-4">
                    <strong>Enjoy the convenience of shopping at our store</strong>
                </h1>
                <p>
                    <strong>Temukan Gaya Anda dengan Kemudahan Belanja Online di Toko Kami - Fashion Berkualitas Tinggi Hanya di Sini!</strong>
                </p>
            </div> -->
        </div>
        <div class="carousel-item" style="min-height: 300px;">
            <img src="https://els.id/media/weltpixel/owlcarouselslider/images/i/t/itel_epic_1_web_banner.jpg" class="d-block w-100" alt="Exotic Fruits"/>
            <div class="mask" style="background-color: rgba(0, 0, 0, 0.4)"></div>
            <!-- <div class="carousel-caption d-none d-md-block mb-5">
                <h1 class="mb-4">
                    <strong>Enjoy the convenience of shopping at our store</strong>
                </h1>
                <p>
                    <strong>Temukan Gaya Anda dengan Kemudahan Belanja Online di Toko Kami - Fashion Berkualitas Tinggi Hanya di Sini!</strong>
                </p>
            </div> -->
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-mdb-target="#carouselExampleCaptions" data-mdb-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-mdb-target="#carouselExampleCaptions" data-mdb-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>