{% extends 'base.html' %}

{% block content%}

<!--Main layout-->
<main class="mt-5 pt-4">
    <div class="container mt-5">
        <!--Grid row-->
        <div class="row">
            <!--Grid column-->
            <div class="col-md-6 mb-4">
                <img src="{{ object.gambar.url }}" class="img-fluid" alt="" />
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-md-6 mb-4">
                <!--Content-->
                <div class="p-4">
                    <div class="mb-3">
                        <a href="">
                            <span class="badge bg-dark me-1">{{ object.get_kategori_display }}</span>
                        </a>
                        {% if object.label == 'NEW' %}
                        <a href="">
                            <span class="badge bg-{{ object.get_label_display }} me-1">New</span>
                        </a>
                        {% elif object.label == 'SALE' %}
                        <a href="">
                            <span class="badge bg-{{ object.get_label_display }} me-1">Sale</span>
                        </a>
                        {% else %}
                        <a href="">
                            <span class="badge bg-{{ object.get_label_display }} me-1">Bestseller</span>
                        </a>
                        {% endif %}
                    </div>

                    <p class="lead">
                        {% if object.harga_diskon %}
                        <span class="me-1">
                            <del>${{ object.harga }}</del>
                        </span>
                        <span>${{ object.harga_diskon }}</span>
                        {% else %}
                        <span>${{ object.harga }}</span>
                        {% endif %}
                    </p>

                    <strong><p style="font-size: 20px;">Deskripsi</p></strong>

                    <p>{{ object.deskripsi }}</p>
                    <a href="{{ object.get_add_to_cart_url }}" class="btn btn-primary ms-1">
                        Tambah ke keranjang
                        <i class="fas fa-shopping-cart ms-1"></i>
                    </a>
                    <a href="{{ object.get_remove_from_cart_url }}" class="btn btn-danger ms-1" >
                        Kurangi keranjang
                        <i class="fas fa-shopping-cart ms-1"></i>
                    </a>
                </div>
                <!--Content-->
            </div>
            <!--Grid column-->

            <!-- Rating & Review -->
            <div class="container">
                <div class="row">
                  <div class="col">
                    <h5 class="text-uppercase font-weight-bold">Reviews<br/><br/></h5>
                  </div>
                  <div class="input rating">
                    <i class="fa fa-user"></i> Admin &nbsp;<i class="fa fa-clock"></i> 06 June 2023, 04.04 PM
                  </div>
                  <div class="w-100"></div>
                  <div class="col"></div>
                  <div class="col">
                    <h5 class="text-uppercase font-weight-bold">Write Your Review</h5>

                    <form class="review-form">
                        {% csrf_token %}
                        <div class="form-group">
                            <textarea class="input" type="text" name="comment" placeholder="Your Review"></textarea>
                        </div>
                        <div class="form-group">
                            <div class="input rating">
                                <p class="text-uppercase font-weight-bold">Your Rating: </p>
                                <div class="rating-wrapper">
                                    <input type="radio" id="star-5" name="rate" value="5" /><label for="star-5" class="fas fa-star"></label>
                                    <input type="radio" id="star-4" name="rate" value="4" /><label for="star-4" class="fas fa-star"></label>
                                    <input type="radio" id="star-3" name="rate" value="3" /><label for="star-3" class="fas fa-star"></label>
                                    <input type="radio" id="star-2" name="rate" value="2" /><label for="star-2" class="fas fa-star"></label>
                                    <input type="radio" id="star-1" name="rate" value="1" /><label for="star-1" class="fas fa-star"></label>
                                </div>
                            </div>
                        </div>
                    </form>
                  </div>
                </div>
            </div>
            <!-- Rating & Review -->

        </div>
        <!--Grid row-->

        <hr />

        <!--Grid row-->
        <div class="row d-flex justify-content-center">
            <!--Grid column-->
            <div class="col-md-6 text-center">
                <h4 class="my-4 h4">Additional information</h4>

                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus suscipit modi sapiente illo soluta odit voluptates, quibusdam officia. Neque quibusdam quas a quis porro? Molestias illo neque eum in laborum.</p>
            </div>
            <!--Grid column-->
        </div>
        <!--Grid row-->

        <!--Grid row-->
        <div class="row">
            <!--Grid column-->
            <div class="col-lg-4 col-md-12 mb-4">
                <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/11.jpg" class="img-fluid" alt="" />
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-lg-4 col-md-6 mb-4">
                <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/12.jpg" class="img-fluid" alt="" />
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-lg-4 col-md-6 mb-4">
                <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/13.jpg" class="img-fluid" alt="" />
            </div>
            <!--Grid column-->
        </div>
        <!--Grid row-->
    </div>
</main>
<!--Main layout-->
{% endblock content%}
